{% extends "base.html" %}

{% load bootstrap_toolkit %}

{% block content %}
    {% if form.errors %}
        <p class="error">Sorry, that's not a valid username or password</p>
    {% endif %}
    <div class="container">
        <div class="row">
            <div class="offset4 span4">
                <form class="form-{{ layout }} well"  method="post">
                    {% csrf_token %}
                    <fieldset>

                        <!-- Form Name -->
                        <legend>Login</legend>

                        <!-- Text input-->
                        <div class="control-group">
                            <label class="control-label" for="username">Login</label>

                            <div class="controls">
                                <input id="username" name="username" placeholder="Login" class="input-xlarge"
                                       type="text">
                            </div>
                        </div>

                        <!-- Password input-->
                        <div class="control-group">
                            <label class="control-label" for="password">Password</label>

                            <div class="controls">
                                <input id="password" name="password" placeholder="Password"
                                       class="input-xlarge" type="password">
                            </div>
                        </div>

                        <!-- Button (Double) -->
       {% if next %}
        <input type="hidden" name="next" value="{{ next }}" />
      {% else %}
        <input type="hidden" name="next" value="/adminbot/" />
      {% endif %}
      <input type="submit" value="login" />

                    </fieldset>
                </form>
            </div>
        </div>
    </div>
{% endblock %}