<!DOCTYPE html>
{% load bootstrap_toolkit %}
{% load url from future %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Administration des Robots</title>
    <meta name="description" content="">
    <meta name="author" content="Dylan Verheul">
    {% bootstrap_stylesheet_tag %}
    {% bootstrap_stylesheet_tag "responsive" %}
    <style type="text/css">
        body {
            padding-top: 60px;
        }
    </style>
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    {% bootstrap_javascript_tag %}
    {% block extra_head %}{% endblock %}
</head>

<body>

<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
          {% if user.is_authenticated %}
                <a class="brand" href="{% url 'AdminBot.views.adminbot_main_page' %}">Administration des Robots</a>
		{%  else %}
                <a class="brand" href="{% url 'AdminBot.views.main_page' %}">Administration des Robots</a> 
		{% endif %}
            <ul class="nav">
{#                <li><a href="{% url 'AdminBot.views.login_user' %}" class="">Login</a></li>#}
                {% if user.is_authenticated %}<li><a href="{% url 'AdminBot.views.logout_page' %}" class="">Logout</a></li>{% endif %}
                {#                <li><a href="{% url 'demo_app.views.demo_form' %}">Form</a></li>#}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Robot<b class="caret"></b></a>
                    <ul class="dropdown-menu">
{#                        <li><a href="{% url 'AdminBot.views.betaserie' %}">Betaserie</a></li>#}
                        {#                        <li><a href="{% url 'demo_app.views.demo_form' %}?layout=horizontal">Horizontal</a></li>#}
                        {#                        <li><a href="{% url 'demo_app.views.demo_form_inline' %}?layout=inline">Inline</a></li>#}
                        {#                        <li><a href="{% url 'demo_app.views.demo_form_inline' %}?layout=search">Search</a></li>#}
                        {#                        <li><a href="{% url 'demo_app.views.demo_form_with_template' %}?layout=horizontal">Using template</a></li>#}
                    </ul>
                </li>
                {#                <li><a href="{% url 'formset' %}">Formset</a></li>#}
                {#                <li><a href="{% url 'tabs' %}">Tabs &amp; Pills</a></li>#}
                {#                <li><a href="{% url 'pagination' %}">Pagination</a></li>#}
                {#                <li><a href="{% url 'buttons' %}">Buttons</a></li>#}
                {#                <li><a href="{% url 'contact' %}">Contact</a></li>#}
            {% if user.is_authenticated %}
	    <li><a class="" href="/admin">Administration du site</a></li>
	    {% endif %}
            </ul>
        </div>
    </div>
</div>

<div class="container">

    {% bootstrap_messages %}

    {% block content %}Empty page{% endblock %}

    <p>
    <hr>
    </p>

    <footer class="row">
        <div class="span6">
            <p>Administration de <a href="http://www.sy-li.com">Syli</a></p>
        </div>
        <div class="span6" style="text-align:right">
            <p>
                &copy; <a href="http://twitter.com/nkio">Alexandre Cloquet</a> 2013
                |
                <a href="https://raw.github.com/dyve/django-bootstrap-toolkit/master/LICENSE">license</a>
            </p>
        </div>
    </footer>

</div>
<!-- container -->

</body>
</html>
